#header{
    background-color:rgba(0,0,0,.65);
    display:flex;
    flex-direction: column;
    align-items: center;
    .header{
        &-wrapper{
            .header-title{
                margin:0;
            }
        }
    }
}