#middle{
    display:flex;
    flex-direction: column;
    align-items: center;
    .image-wrapper{
        display:flex;
        justify-content:center;
        align-items:center;
        margin:5px 10px;
        padding:10px 10px;
        width:475px;
        height:475px;
        box-shadow:0 0 5px black;
    }

    .form-container{
        margin:10px;
    }
}
